/* standardizing font */
*{
    font-family: "Open Sans", Helvetica, sans-serif; 
}

/* padding for bottom of page to show over fixed footer */
body {
  padding-bottom: 80px;
}

/* page title */
.title{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.history{
    width: 100%;
}

.jumbotron{
    padding-top: 0;
    background-color: white;
}

.uvLabel{
    padding: 5px;
    border-radius: 5px;    
}

.safe{
    background-color: hsl(130, 100%, 33%)d;
    color: white;
}

.moderate{
    background-color: #f89438;
}

.danger{
    background-color: #e65453;
    color: white;
}

.card{
    margin: 10px auto;
}

.card-header{
    background-color: hsl(300, 100%, 33%);
    color: white;
    padding: 5px;
    text-align: center;
}

.card-body{
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
}

.futureImg{
    height: 50px;
    width: 50px;
}

/* styleing footer */
.myFooter{
    -webkit-animation: cyclecolors linear;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation: cyclecolors;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    padding-top: 5px;
    height: 50px;
    background-color: hsl(300, 100%, 33%);
    margin-top: 20px;
}

@keyframes cyclecolors{
0% {
    background-color: hsl(300, 100%, 33%);
}
16% {
    background-color: hsl(212, 100%, 49%);
}
32% {
    background-color: hsl(130, 100%, 33%);
}
48% {
    background-color: #fdc345;
}
64% {
    background-color: #f89438;
}
96% {
    background-color: #e65453;
}
}